/* theme color */
$--color-primary: #3e8dce;
$--color-info: #1f2d3d;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
